<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
    <script src="{{{uiRootPath}}}/js/vendor/elements-web-components.min.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements@8.4.0/styles.min.css">
  </head>
  <body class="article api-reference">
{{> header}}
{{> body}}
{{> footer}}
  </body>
</html>